/*table.quizz{
            */
            


body {
    background-image:linear-gradient(100deg, #2C8791, #AF7CD1 );
    height : 100%;
    width : 100%;
}



/*FENETRE DE NAVIGATION */
nav {
    position : fixed; /* pour que la barre reste en haut meme si on descend la fenetre */
    width : 100%; /*largeur */
    height : 60px; /*hauteur*/
    font-weight : bold; /* texte en gras*/
    font-family : Arial; /* police : Arial*/
    font-size : 20px; /* taille de la police : 12px */
    left : 20%;


}

nav, nav ul {
    padding : 0; /* pas de marge intérieure */
    margin : 0; /* et extérieur -> sinon les menus sont décalés dans la barre */
    list-style : none; /* enlève les points de la liste */
    line-height : 30px; /* augmente la hauteur des menus */
    text-align : center; /* texte centré*/
    


}

nav a 
{
    
    display : block; /* transforme en bloc les liens (plus facile à manipuler) */
    border-radius: 10px; /*bord arrondit*
    /* padding : 0;  */
    color : #fff; /* couleur du texte */
    text-decoration : none; /* enleve les souligne */
    width : 150px; /* largeur */ 
    background-color : rgba(255,255,255,0.3);
    
}

nav li /* Éléments des listes */      

{ 
    float : left; /*mettre les elements a la suite des autres à gauche*/
    border-right : 1px solid #fff; /* bordure blanche à droite de chaque élément */
    border-top : 1px solid #fff;
    border-radius: 10px; /*bord arrondit*/

}

nav li ul /* Sous-listes */
{ 
    position: absolute; /* Position absolue */
    width: 144px; /* Largeur des sous-listes */
    left: -999em; /* Hop, on envoie loin du champ de vision */
}


nav li ul ul /*Sous-sous liste */

{
    margin    : -22px 0 0 160px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
}

nav li:hover ul ul, nav li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */

{
    left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */

}


nav li:hover ul, nav li li:hover ul, nav li.sfhover ul, nav li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */

{
    left: auto; /* Repositionnement normal */

}

/*****************************/


